body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
h1 {
    color: #333;
}
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background: rgb(83, 83, 192);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}
button:hover {
    background: darkblue;
}
.nomeErro, .cpfErro, .dataNscErro, .telefoneErro, .emailErro {
    color: red;
    font-size: 12px;
}
